.statsBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
  
.statsBar__inner {
  width: 40px;
  height: 150px;
  border: 1px solid #ccc;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  border: none;
}

.statsBar__fill {
  background-color: var(--color-quaternary);
  width: 100%;
  transition: height 0.3s ease-out;
}

.statsBar__label {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 1350px)  {
  .statsBar__inner {
    width: 35px;
  }

  .statsBar{
    margin: 0;
  }

  .statsBar__label {
    font-size: 12px;
  }
}   

@media only screen and (max-width: 870px) {
  .statsBar__inner {
    width: 30px;
  }

  .statsBar__label {
    font-size: 10px;
  }
}


@media only screen and (max-width:610px) {

  .statsBar__label {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .statsBar__inner {
    width: 20px;
  }

  .statsBar__label {
    font-size: 10px;
  }
  
}