.optionList{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--color-secundary);
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.image {
    width: 30px;
    height: 30px;
    margin-inline: 10px;
}

.select{
    background-color: var(--color-secundary);
    color: white;
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 5px;
}


@media only screen and (max-width: 992px) and (min-width: 825px) {
    .optionList {
        width: 250px;
    }
}

@media only screen and (min-width:  768px) and (max-width: 825px) {
    .optionList {
        width: 450px;
        justify-content: space-between;
    }
    .select{
        width: 390px;
    }
}